<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root[ 
<!ELEMENT book ANY>
<!ATTLIST book id ID #REQUIRED>
<!ELEMENT home ANY>
<!ATTLIST home id ID #REQUIRED>
<!ELEMENT master ANY>
<!ATTLIST master id ID #REQUIRED>

]>
<root id="-1">
  <home id="1070" key="2b3a5fa9-3cc4-4d4b-bdd4-35aac5cbfeae" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2016-04-11T17:25:49" updateDate="2016-04-12T12:42:14" nodeName="Home Page" urlName="home-page" path="-1,1070" isDoc="" nodeType="1069" creatorName="Christian René Sigersted" writerName="Christian René Sigersted" writerID="0" template="1067" nodeTypeAlias="home">
    <siteName><![CDATA[Umbraco test]]></siteName>
    <pageTitel><![CDATA[Home]]></pageTitel>
    <bodyText><![CDATA[Hello from umbraco!!]]></bodyText>
    <pageImage><![CDATA[/media/1073/loever.jpg]]></pageImage>
    <home id="1076" key="cda569d2-cd47-4868-8119-8f07d94635fc" parentID="1070" level="2" creatorID="0" sortOrder="0" createDate="2016-04-12T12:45:03" updateDate="2016-04-12T12:45:03" nodeName="Second Home Page" urlName="second-home-page" path="-1,1070,1076" isDoc="" nodeType="1069" creatorName="Christian René Sigersted" writerName="Christian René Sigersted" writerID="0" template="1067" nodeTypeAlias="home">
      <pageTitel><![CDATA[Second Home Page]]></pageTitel>
      <bodyText><![CDATA[Some more body text]]></bodyText>
      <pageImage><![CDATA[/media/1074/katten.jpg]]></pageImage>
    </home>
    <home id="1078" key="971f2f24-a27a-4398-aee0-93648b98d9df" parentID="1070" level="2" creatorID="0" sortOrder="1" createDate="2016-04-12T12:48:08" updateDate="2016-04-12T12:48:08" nodeName="Third Home Page" urlName="third-home-page" path="-1,1070,1078" isDoc="" nodeType="1069" creatorName="Christian René Sigersted" writerName="Christian René Sigersted" writerID="0" template="1067" nodeTypeAlias="home">
      <pageTitel><![CDATA[Third Home Page]]></pageTitel>
      <bodyText><![CDATA[Even more text]]></bodyText>
      <pageImage><![CDATA[/media/1076/harald-blaatand.jpg]]></pageImage>
    </home>
  </home>
</root>